$primary-color-900: #1e3a8a;
$primary-color-800: #1e40af;
$primary-color-700: #1d4ed8;
$primary-color-600: #2563eb;
$primary-color-500: #3b82f6;
$primary-color-400: #60a5fa;
$primary-color-300: #93c5fd;
$primary-color-200: #bfdbfe;
$primary-color-100: #dbeafe;
$primary-color-50: #eff6ff;
