@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables';

* {
  font-family: 'Poppins', sans-serif;
}

.logo path {
  fill: $primary-color-700 !important;
}

.dark .logo path {
  fill: #fff !important;
}

.dark .pinDark {
  transform: translateX(22px);
}
